.ed-container {
    height: 100vh;
    width: 215vh;
    align-items: center;
    gap: 3em;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
}

.section {
    margin-top: 1em;
}

.ed-col {
    display: flex;
    justify-content: left;
    width: 100%;
}

.inst-logo {
    object-fit: cover;
    transition: var(--transition);
}

.ed-content {
    display: none;
    text-decoration: solid;
}

.ed-col:hover .ed-logo {
    left: 70%;

}

.ed-col:hover .ed-content {
    display: block;
    width: 70%;
    position: relative;
    right: 25%;
    top: 10%;
}

.ed-logo {
    border-radius: 50%;
    width: 35vh;
    height: 35vh;
    position: relative;
    left: 38%;
    transition: var(--transition);
}

.ed-col-school {
    height: 30vh;
    display: flex;
    width: 36vh;
    height: 36vh;
    justify-content: right;
    transition: var(--transition);
}

.ed-col-school:hover {
    width: 150vh;
    gap: 2em;
}

.ed-col-school:hover .ed-content {
    display: block;
}

@media (max-width:600px) {
    #education {
        margin-top: 13em;
    }

    .ed-container {
        width: 40%;
    }

    .ed-col {
        flex-direction: column;
    }

    .ed-col:hover {
        width: 36vb;
        height: 36vh;
    }

    .ed-content {
        width: 100%;
        text-align: center;
        display: block;
    }
}