.about-container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

.about-card {
    background-color: ghostwhite;
    border: 1px solid transparent;
    text-align: center;
    color: black;
    border-radius: 1em;
    padding: 1em;
    transition: all 200ms ease;
}

.about-card:hover {
    background-color: transparent;
    border-color: ghostwhite;
    color: white;

}

.about-icon {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.about-card h5 {
    font-size: 1em;
}

.about-contents p {
    margin: 2em 0 2em 0;
    color: floralwhite;

}

.about-contents {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    align-items: center;
}

.about-block {
    margin: auto;
    width: 50vw;
}

/*----------Media queries(Small devices)----------*/
@media screen and (max-width:600px) {
    .about-container {
        grid-template-columns: 100%;
        justify-content: center;
    }

    .about-me {
        width: 20em;
        margin: 0 auto;
        justify-content: center;
    }

    .about-contents {
        text-align: center;
    }

    .about-block {
        width: 100vw;
    }

}
#contact h2{
    margin-bottom: 0;
}