header {
    overflow: hidden;
    padding-top: 3rem;
    height: 100vh;
}

.header-container {
    text-align: center;
    height: 100%;
}

.cta {
    display: flex;
    margin-top: 2.5rem;
    justify-content: center;
    gap: 1.5rem;
}

.socialheader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    bottom: 3rem;

}

.socialheader::after {
    content: "";
    width: 2rem;
    height: 2rem;
    color: var(--color-white);
}

.me {
    width: 22rem;
    height: 39rem;
    position: relative;
    left: 22rem;
    bottom: -2rem;
}

.scroll-down {
    display: inline-block;
    position: absolute;
    top: 36rem;
    right: 15rem;
    transform: rotate(90deg);
}

.scroll-down:hover:hover {
    color: grey;
}

/*----------Media queries(Medium devices)----------*/
@media screen and (max-width:1024px) {
    .header {
        height: 60vh;
    }

    .cta {
        margin-top: 0px;
    }

    .me {
        position: relative;
        bottom: 0;
        left: 25%;
    }

    .scroll-down {
        top: 75%;
        right: 10%;
    }

    .socialheader {
        bottom: 3rem;
        left: 9rem;
    }
}

/*----------Media queries(Small devices)----------*/
@media screen and (max-width:600px) {
    .header {
        height: 100vh;
    }

    .socialheader,
    .scroll-down {
        display: none;
    }

    .cta {
        margin-top: 10px;
    }

    .heading {
        font-size: 40px;
    }

    .me {
        width: 100%;
        padding: 5px 5px;
        position: relative;
        left: 0;
        bottom: -5%;

    }
}