nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    position: fixed;
    left: 52%;
    top: 90%;
    transform: translateX(-50%);
    display: flex;
    gap: 5rem;
    padding: 0.8em 2em;
    border-radius: 2em;
    z-index: 1;

}

nav a {
    color: whitesmoke;
    padding: 0.4em;
    border-radius: 3em;

}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

nav a.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/*========For smaller Screen==========*/
@media screen and (max-width:600px) {
    nav {
        display: none;
    }
}