nav {
    display: flex;
    background-color: rgb(0, 0, 0, 0.2);
    padding: 0.5% 4%;
    border-radius: 2rem;
    gap: 2rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    justify-content: center;
    bottom: 2rem;
}

nav a {
    color: white;
    padding: 7%;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    cursor: pointer;
}

nav a.active {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}